.cities {
    margin-top: 8%;
    .search {
        max-width: 250px;
        margin: 0 auto;
        input {
            padding: 5px;
            width: 100%;
            color: #0065b8;
        }
        .result {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                text-align: left;
                background: #fff;
                padding: 5px 10px 5px 5px;
                border-bottom: 1px solid #ececec;
                display: flex;
                justify-content: space-between;
                color: #0065b8;
            }
            li:hover {
                background: #edf7ff;
                cursor: pointer;
            }
            .hl {
                background: #888;
            }
        }
    }

}